@import 'tailwindcss';
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: local('Roboto'), url("./fonts/Roboto/RobotoCondensed-Bold.ttf") format('truetype');
  }
  @font-face {
    font-family: 'RobotoCondensed-Regular';
    src: local('Roboto'), url("./fonts/Roboto/RobotoCondensed-Regular.ttf") format('truetype');
  }
  @font-face {
    font-family: 'RobotoCondensed-Light';
    src: local('Roboto'), url("./fonts/Roboto/RobotoCondensed-Light.ttf") format('truetype');
  }


body {
  font-family: 'RobotoCondensed-Regular', sans-serif;
  font-size: 1rem;
}
